@media screen and (max-width: 1900px) {
  main {
    & .video-last {
      width: 100%;
      height: auto;
    }

    & .tables-container .table {
      width: 254px;
      height: 238px;
    }

    & .presenters-container {
      & .presenter {
        width: 390px;
        height: 487px;

        & img {
          width: 300px;
        }

        & .socials {
          top: 36px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        width: 520px;
        height: 440px;

        &-info {
          width: 470px;
          height: 111px;
          top: 190px;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  main {
    & .events-time .date {
      margin-left: 16px;
    }

    & .date:first-child {
      margin: 0;
    }

    & .video-last {
      width: 680px;
      height: 400px;
    }

    & .tables-container {
      & .table {
        width: 260px;
        height: 238px;
      }
    }

    & .presenters-container {
      & .presenter {
        width: 250px;
        height: 347px;

        & img {
          margin-top: 10px;
          width: 225px;
        }

        & .socials {
          padding: 10px;
          top: 20px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        width: 390px;
        height: 400px;

        &-info {
          width: 345px;
          height: 120px;
          top: 100px;

          & h4 {
            font-size: 18px;
          }

          & p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  main {
    & .video-last {
      width: 670px;
      height: 390px;
    }
  }
}


@media screen and (max-width: 1400px) {
  main {
    & .video-last {
      width: 570px;
      height: 350px;
    }

    & .tables-container .table {
      width: 240px;
      height: 238px;
    }

    & .presenters-container {
      & .presenter {
        width: 250px;
        height: 357px;

        & img {
          margin-top: 10px;
          width: 225px;
        }

        & .socials {
          top: 25px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        width: 340px;
        height: 350px;

        &-info {
          width: 320px;
          height: 100px;
          top: 100px;

          & h4 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  main {
    & .video-last {
      width: 400px;
      height: 250px;
    }

    & .presenters-container {
      & .presenter {
        margin-left: 10px;
        width: 240px;
        height: 357px;

        & img {
          margin-top: 10px;
          width: 225px;
        }

        & .socials {
          top: 25px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        width: 310px;
        height: 330px;

        &-info {
          width: 300px;
          height: 120px;
          top: 100px;
        }
      }
    }
  }
}
