@media screen and (max-width: 1920px) {
  main {
    & .tables-container .table {
      max-width: 254px;
      width: 100%;
    }

    & .presenters-container {
      & .presenter {
        max-width: 390px;
        width: 100%;

        & img {
          max-width: 300px;
          width: 100%;
        }

        & .socials {
          top: 36px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        max-width: 540px;
        width: 100%;
        height: 450px;

        &-info {
          max-width: 450px;
          width: 100%;
          top: 190px;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  main {
    & .events-time .date {
      margin-left: 16px;
    }

    & .date:first-child {
      margin: 0;
    }

    & .tables-container {
      & .table {
        max-width: 260px;
        width: 100%;
      }
    }

    & .presenters-container {
      & .presenter {
        max-width: 250px;
        width: 100%;

        & img {
          margin-top: 10px;
          max-width: 225px;
          width: 100%;
        }

        & .socials {
          padding: 10px;
          top: 20px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        max-width: 390px;
        width: 100%;

        &-info {
          max-width: 345px;
          width: 100%;
          top: 100px;

          & h4 {
            font-size: 18px;
          }

          & p {
            font-size: 12px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1400px) {
  main {
    & .tables-container .table {
      max-width: 240px;
      width: 100%;
      height: auto;
    }

    & .presenters-container {
      & .presenter {
        max-width: 250px;
        width: 100%;
        height: auto;

        & img {
          margin-top: 10px;
          max-width: 225px;
          width: 100%;
        }

        & .socials {
          top: 25px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        max-width: 340px;
        width: 100%;

        &-info {
          max-width: 320px;
          width: 100%;
          top: 60px;

          & h4 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  main {
    & .presenters-container {
      & .presenter {
        margin-left: 10px;
        max-width: 240px;
        width: 100%;
        height: auto;

        & img {
          margin-top: 10px;
          max-width: 225px;
          width: 100%;
        }

        & .socials {
          top: 25px;
        }
      }
    }

    & .fun-stuff-container {
      & .stuff {
        max-width: 310px;
        width: 100%;

        &-info {
          max-width: 300px;
          width: 100%;
          top: 10px;
        }
      }
    }
  }
}
