header {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  box-shadow: 0 0 10px #DFE0EB;

  & .buy-tickets {
    width: 150px;
    height: 36px;
    background: #74BD43;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 32px 0;
    border: 1.5px solid #74BD43;
    box-sizing: border-box;
    color: #FFFFFF;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 9px 25px rgba(82, 154, 34, 0.3);
    }
  }

  & .login {
    padding: 10px 25px;
    margin: 32px 30px 30px 20px;
    width: 150px;
    height: 36px;
    background: #FFFFFF;
    border: 1.5px solid #74BD43;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #74BD43;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 9px 25px rgba(82, 154, 34, 0.3);
    }
  }

  & .notification {
    cursor: pointer;
    margin: 38px 0;
  }

  & .vertical-line {
    margin: 34px 40px 40px;
    width: 1px;
    height: 32px;
    background: #DFE0EB;
  }

  & .user-name {
    margin: 39px 0 42px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    color: #A6A6A6;
    cursor: default;
  }

  & .user-avatar {
    margin: 28px 30px 28px 23px;
    cursor: pointer;
  }

  & hr {
    height: 2px;
  }
}
